.settings__setting {
  padding: 16px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column:nth-child(2) {
  opacity: 0.5;
}
.setting__underline {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 25px;
  margin-bottom: 20px;
}
