.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px 25px 25px;
  opacity: 80%;
}
.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}
.screen-header__icon span {
  margin-left: 25px;
}
