body {
  display: flex;
  height: 100vh;
  margin: 20px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
header {
  position: absolute;
  top: 5%;
}
#firstbox {
  height: 550px;
  width: 470px;
  background-color: whitesmoke;
  position: relative;
}
body > div > div {
  position: absolute;
  height: 240px;
  width: 220px;
  background-color: white;
}
#righttop {
  position: absolute;
  right: 0pt;
  height: 240px;
  width: 220px;
  background-color: white;
}
#leftbottom {
  position: absolute;
  bottom: 18px;
  height: 240px;
  width: 220px;
  background-color: white;
}
#rightbottom {
  position: absolute;
  right: 0pt;
  bottom: 18px;
  height: 240px;
  width: 220px;
  background-color: white;
}
body > div > div > div:nth-child(1) {
  height: 10%;
  width: 220px;
}
body > div > div > div:nth-child(2) {
  height: 30%;
  width: 220px;
}
body > div > div > div:nth-child(3) {
  height: 60%;
  width: 220px;
}
.tomato {
  background-color: tomato;
}
.teal {
  background-color: teal;
}
.burlywood {
  background-color: burlywood;
}
.thistle {
  background-color: thistle;
}
